[Unit]
Description=Airflow webserver daemon
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Environment=AIRFLOW_HOME={{airflow_home_directory}}
Environment=PATH={{binary_directory}}
User=airflow
Group=airflow
Type=simple
ExecStart={{binary_directory}}/airflow webserver -p {{webserver_port}}
Restart=always
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
